# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]

# Allure results
allure-results/

# Virtual environment
venv/

# VSCode settings
.vscode/

/.idea/


# Ignore all __pycache__ directories recursively
__pycache__/

